  {% extends "base.html" %}

  {% block title %} Dashboard {% endblock %}

  {% block content %}

<html>
  <head>
  </head>

  <body>
    <header>
      <div class = "row">
        <div class = "small-12 large-12 columns animated fadeInLeft">
          <h1>Dashboard</h1>
        </div>
      </div>
    </header>

    <!-- section for spacing -->
    <section id = "main-content">
      <div class="row">
        <div class="small-12 large-8 columns">
          {% for job in jobs %}
            <div class="panel"> 
              <strong> {{job.company}} </strong>
              <hr />
              {{job.title}}
              <br /> {{ job.location }}
              <br />{{job.description}}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>
  {% endblock %}
</html>