  {% extends "base.html" %}

  {% block title %} Profile {% endblock %}

  {% block content %}
  <header>
    <div class="row">
      <div class="small-12 columns">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
      </div>
    </div>
    </header>

    <section id = "main-content">
    <div class="row">
      <div class="small-12 large-4 columns">
          <img src = "{{ STATIC_URL }}img/placement.gif"></img>

        </p>
        <dl style="width: 100%" class="tabs vertical" data-tab>
          <dd class="active"><a href="#panel1a" class = "font">Profile</a></dd>
          <dd><a href="#panel3a">Account Settings</a></dd>
          <!-- <dd><a href="#panel4a">Tab 4</a></dd> -->
        </dl>
        
      </div>
      <div class="small-12 large-8 columns">
        <div class="tabs-content vertical" style="width: 100%">
          <div class="content active" id="panel1a">
            <p>Address: {{ user.address }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone: {{ user.phone }}</p>
            Resume
          </div>
          <div class="content" id="panel3a">
              <!-- Content in third side panel -->
              <dl class="tabs" data-tab>
                <dd class="active"><a href="#panel2-1">Preferences</a></dd>
                <dd><a href="#panel2-2">Contact Info</a></dd>
              </dl>
              <div class="tabs-content">
                <div class="content active" id="panel2-1">
                  <!-- Interests -->

                  <!-- Location -->
                  <div class="row">
                    <div class="large-6 columns">
                      <label>Where are you looking to find a job?
                        <input type="text" placeholder="Zip Code: 94720">{{ profile.location_range.zipcode }}</input>
                      </label>
                    </div>
                    <div class="large-6 columns">
                      <label>Range
                        <select>
                          <option value="5">5 mi</option>
                          <option value="10">10 mi</option>
                          <option value="20">20 mi</option>
                          <option value="30">30 mi</option>
                          <option value="40">40 mi</option>
                          <option value="50">50 mi</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <!-- Full-time / Part-time -->
                  <div class="row">
                     <div class="large-6 columns">
                      <input type="radio" value="Full-time" {% if profile.full_time %} checked {% endif %}>
                      <label>Full-time</label>
                      <input type="radio" value="Part-time" {% if profile.part_time %} checked {% endif %}>
                      <label>Part-time</label>
                    </div>
                  </div>
                  <!-- Experience Level -->
                  <div class="row">
                    <div class="large-6 columns">
                      <label>Experience Level</label>
                      <input type="checkbox" {% if profile.entry_level %} checked {% endif %}/>
                      <label>Entry Level</label>
                      <input type="checkbox" {% if profile.advanced %} checked {% endif %}>
                      <label>Advanced</label>
                    </div>
                  </div>
                  
                  <!-- Emails/Text Notifications -->
                  <div class = "row">
                    <div class="large-6 columns">
                      <label>Notifications</label>
                      <input type="checkbox" {% if profile.text_notifications %} checked {% endif %}>
                      <label>Texts</label>
                      <input type="checkbox" {% if profile.email_notifications %} checked {% endif %}>
                      <label>E-mails</label>
                    </div>

                    <div class="large-6 columns">
                      <label>Currently searching for a job?</label>
                      <input type="radio" name="yesorno" value="Yes" id="Yes" 
                      {% if profile.currently_searching %} checked {% endif %}>
                      <label for="Yes">Yes</label>
                      <input type="radio" name="yesorno" value="No" id="No"
                      {% if not profile.currently_searching %} checked {% endif %}>
                      <label for="No">No</label>
                    </div>
                  </div>

                  <!-- Currently looking for? -->

                  <div class = "row">
                    <div class="large-4 columns">
                      <input type="submit" class="button" />
                    </div>
                  </div>





                </div>
                <div class="content" id="panel2-2">
                  <form>
                    <div class = "row">
                      <div class = "large-12 columns">
                        <label> E-mail Address 
                          <input type = "text" placeholder="{{ user.email }} "></input>
                        </label>
                      </div>
                    </div>

                    <div class = "row">
                      <div class = "large-12 columns">
                        <label> Phone Number
                          <input type = "text" 
                          placeholder="{% if profile.phone %} {{profile.phone}} {% else %} 314-159-2654 {% endif %}" /> 
                        </label>
                      </div>
                    </div>

                    <div class = "row">
                      <div class = "large-12 columns">
                        <label> Address
                          <input type = "text" 
                          placeholder="{% if profile.address %} {{profile.address}} {% else %} 314 Pi Ave. {% endif %}" /> 
                        </label>
                      </div>
                    </div>

                    <div class = "row">
                      <div class = "large-12 columns">
                        <label> Resume</label>
                          <input type = "file" />
                      </div>
                    </div>

                    <input type="submit" class="button" />

                  </form>
                </div>
              </div>
          </div>
          <!-- <div class="content" id="panel4a">
            <p>Panel 4 content goes here.</p>
          </div> -->
        </div>
        
      </div>
      </div>

    </div>
  </section>

    
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  {% endblock %}