  {% extends "base.html" %}

  {% block title %} Profile {% endblock %}

  {% block content %}
  <header>
    <div class="row">
      <div class="small-12 columns animated fadeInLeft">
        <h1>{{user.first_name}} {{user.last_name}}</h1>
      </div>
    </div>
    </header>

    <section id = "main-content">
    <div class="row">
      <div class="small-12 large-4 columns">
          <img src = "{{ STATIC_URL }}img/placement.gif"></img>

        </p>
        <dl style="width: 100%" class="tabs vertical" data-tab>
          <dd class="active"><a href="#panel1a">Profile</a></dd>
          <dd><a href="#panel3a">Account Settings</a></dd>
          <!-- <dd><a href="#panel4a">Tab 4</a></dd> -->
        </dl>
        
      </div>
      <div class="small-12 large-8 columns">
        <div class="tabs-content vertical" style="width: 100%">
          <div class="content active" id="panel1a">

            <div class="small-12 large-6 columns">
              <label class="header">Job Preferences</label><hr />
              <p><label class="header">Currently Searching?</label>  {% if profile.currently_searching %} Yes {% else %} No {% endif %}</p>
              <p> <label class="header">Type of Positions: </label>
                {% if profile.full_time %} Full Time {% endif %} 
                {% if profile.part_time %} Part Time {% endif %}</p>
              <p> <label class="header">Skill Level:</label>
                {% if profile.entry_level %} Entry Level {% endif %}
                {% if profile.advanced %} Advanced {% endif %}
              </p>
              <p> <label class="header">Location:</label>
              {% if location_range.zipcode %} I'm looking for jobs within {{ location_range.radius }} miles of {{ location_range.zipcode }} {% else %} Not Specified{% endif %}</p>
              <label class="header">Resume</label>
            </div>




            <div class="small-12 large-6 columns">
              <label class="header">Contact Information</label><hr />

              <p>{% if user.email %} <label class="header">Email: </label>{{ user.email }} {% endif %}</p>
              <p>{% if profile.address %}  <label class="header">Address: </label>{{ profile.address }} {% endif %}</p>
              <p>{% if profile.phone %}  <label class="header">Phone Number: </label>{{ profile.phone }} {% endif %}</p>
            </div>
            
          </div>
          <div class="content" id="panel3a">
              <!-- Content in third side panel -->
              <dl class="tabs" data-tab>
                <dd class="active"><a href="#panel2-1">Preferences</a></dd>
                <dd><a href="#panel2-2">Contact Info</a></dd>
              </dl>
              <div class="tabs-content">
                <div class="content active" id="panel2-1">
                  <form action="/prefs/" method="POST">
                    {% csrf_token %}
                    <!-- Location -->
                    <div class="row">
                      <div class="large-6 columns">
                        <label class="header">Where are you looking to find a job?</label>
                          <input name="zipcode" type="text" 
                          placeholder="{% if location_range.zipcode %} {{ location_range.zipcode }} {% else %} Zip Code: 94720 {% endif %}"></input>
                           <hr />
                        
                      </div>
                      <div class="large-6 columns">
                        <label class="header">Range</label>
                          <select name="range">
                            <option value="5">5 mi</option>
                            <option value="10">10 mi</option>
                            <option value="20">20 mi</option>
                            <option value="30">30 mi</option>
                            <option value="40">40 mi</option>
                            <option value="50">50 mi</option>
                          </select>
                        
                      </div>
                    </div>
                    <!-- Full-time / Part-time -->
                    <div class="row">
                       <div class="large-6 columns">
                        <label class="header">Full time or Part time?</label>
                        <input type="checkbox" name="full_time" {% if profile.full_time %} checked {% endif %}>
                        <label>Full-time</label>
                        <input type="checkbox" name="part_time" value="part_time" {% if profile.part_time %} checked {% endif %}>
                        <label>Part-time</label>
                      </div>
                    </div>
                    <hr />
                    <!-- Experience Level -->
                    <div class="row">
                      <div class="large-6 columns">
                        <label class="header">Experience Level</label>
                        <input type="checkbox" {% if profile.entry_level %} checked {% endif %}/>
                        <label>Entry Level</label>
                        <input type="checkbox" {% if profile.advanced %} checked {% endif %}>
                        <label>Advanced</label>
                      </div>
                    </div>
                     <hr />
                    <!-- Currently looking for? -->
                    <div class = "row">
                      <div class="large-6 columns">
                        <label class="header">Currently searching for a job?</label>
                        <input type="radio" name="currently_searching" value="Yes" id="Yes" 
                        {% if profile.currently_searching %} checked {% endif %}>
                        <label for="Yes">Yes</label>
                        <input type="radio" name="currently_searching" value="No" id="No"
                        {% if not profile.currently_searching %} checked {% endif %}>
                        <label for="No">No</label>
                      </div>
                    </div>
                     <hr />
                    <!-- Emails/Text Notifications -->
                    <div class = "row">
                      <div class="large-6 columns">
                        <label class="header">Notifications</label>
                        <input type="checkbox" name="text_notifications" {% if profile.text_notifications %} checked {% endif %}>
                        <label>Texts</label>
                        <input type="checkbox" name="email_notifications" {% if profile.email_notifications %} checked {% endif %}>
                        <label>E-mails</label>
                      </div>
                    </div>

                    <div class = "row">
                      <div class="large-4 columns">
                        <input type="submit" class="button" value="Update"/>
                      </div>
                    </div>
                  </form>

                </div>
                <div class="content" id="panel2-2">
                  <form>
                    {% csrf_token %}
                    <div class = "row">
                      <div class = "large-12 columns">
                        <label class="header"> E-mail Address </label>
                          <input type = "text" placeholder="{{ user.email }} "></input>
                        
                      </div>
                    </div>

                    <div class = "row">
                      <div class = "large-12 columns">
                        <label class="header"> Phone Number</label>
                          <input type = "text" 
                          placeholder="{% if profile.phone %} {{profile.phone}} {% else %} 314-159-2654 {% endif %}" /> 
                        
                      </div>
                    </div>

                    <div class = "row">
                      <div class = "large-12 columns">
                        <label class="header"> Address</label>
                          <input type = "text" 
                          placeholder="{% if profile.address %} {{profile.address}} {% else %} 314 Pi Ave. {% endif %}" /> 
                        
                      </div>
                    </div>

                    <div class = "row">
                      <div class = "large-12 columns">
                        <label class="header"> Resume</label>
                          <input type = "file" />
                      </div>
                    </div>

                    <input type="submit" class="button" value="Update"/>

                  </form>
                </div>
              </div>
          </div>
          <!-- <div class="content" id="panel4a">
            <p>Panel 4 content goes here.</p>
          </div> -->
        </div>
        
      </div>
      </div>

    </div>
  </section>

    
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  {% endblock %}