<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css" />
    <script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class = "row">
    <form method="POST" action="">
      {% csrf_token %}
      <div class="large-4 columns">
        New user? Sign up here!
        <hr />
        {{ register_form.as_p }}

           <input class="button" type="submit" value="Sign up!" />
      </div>
    </form>

    <div class = "large-4 columns">
      
    </div>

  </div>

    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
  </body>
</html>
